<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Order burgers online</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <h1>Welcome to BurgerOnline</h1>

            <section>
                <h2>Select a burger</h2>
                This is where you select a burger.
                    <h3>Double cheese burger</h3>
                    <img src="https://www.mcdonalds.com/is/image/content/dam/usa/nfl/nutrition/items/hero/desktop/t-mcdonalds-Double-Cheeseburger.jpg?$Product_Mobile$" alt="Double cheese burger" title="Double cheese burger" width="100">


            </section>

            <section>
                <h2>Customer informaton</h2>
            </section>

        </main>

        <footer>
            <hr>
            &copy 2020 BurgerOnline
        </footer>
    </body>
</html>
