@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: "Droid Sansserif", sans-serif;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Serif", serif;
}
a, strong, em {
    color: #0099ff;
}

p.info,
#login p {
    width: 80%;
    margin: 1vw auto;
}

.allergy {
    font-weight: bold;
}

#burgers {
    background-color: black;
    color: white;
}

#customerinfo {

}

button {
    width: 25%;
    font-size: 150%;
    font-family: auto;
    display: table-cell;
    vertical-align: middle;
}

button:hover {
    background-color: YellowGreen;
    cursor: pointer;
}

table {
    /*width: 40%;*/
}
