@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: "Droid Sansserif", sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 50%;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Serif", serif;
    margin: 0.5em;
}

a, strong, em {
    color: #0099ff;
}

header {
    margin: 1.5em;
    overflow:hidden;
}

header img {
    opacity: 0.5;
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    padding: 4em;
}

p {
    margin: 1em;
}

p.info,
#login p {
    width: 80%;
    margin: 1vw auto;
}

.allergy {
    font-weight: bold;
}

#burgers {
    background-color: black;
    color: white;
    margin: 1.5em;
    padding: 1em;
    border: 2px dashed white;
}

#customerinfo {
    margin: 1.5em;
    border: 2px dashed;
}

button {
    width: 25%;
    font-size: 150%;
    font-family: auto;
    display: table-cell;
    vertical-align: middle;
    margin: 0.1em 0.1em 3em 1.5em;
}

button:hover {
    background-color: YellowGreen;
    cursor: pointer;
}

.wrapper {
     display: grid;
     grid-gap: 1em;
     grid-template-columns: 20em 20em 20em;
 }

 .box {
     color: #fff;
     border-radius: 0.1em;
     padding: 1em;
     margin: 1em;
 }

 .box img {
     height: 13em;
     width: auto;
 }

 .a {
     grid-column: 1;
     grid-row: 1;
 }
 .b {
     grid-column: 2;
     grid-row: 1;
 }
 .c {
     grid-column: 3;
     grid-row: 1;
 }
